%br

- @lists.each do |list|
  .list
    %h4=list.name
    %form{:action =>"/update_list/#{list.slug}",:method=>:post}
      %table
        %tr
          %td Member
          %td
            Remove User
        - list.members.each do |user|
          %tr
            %td= user.screen_name
            %td
              %input{:type=>:checkbox, :name=>"lists[#{list.slug}][remove_members][#{user.screen_name}]"}
      %p
        %b Add new list members(whitespace separated)
      %textarea{:name=>"lists[#{list.slug}][new_members]"}
      %input{:type=>:submit, :value=>'Update'}
%br
%form{:action =>'/update_list',:method=>:post}
  %h4 Or Create a New List
  %input{:type=>:text,:name=>'new_list_name'}
  %input{:type=>:submit, :value=>'Create'}

= @user.inspect
= @lists
