%div
  %p
    %b Lists:
    = @lists.length
    \/
    20
  %p
    %b
      Requests Left Til Next Reset(~
      = (@rate_limit_status['reset_time_in_seconds'].to_i-Time.now.to_i)/60
      min):
    = @rate_limit_status['remaining_hits']
    \/
    @rate_limit_status['hourly_limit']
- @lists.each do |list|
  .list
    %h4
      =list.name
      - if list.private?
        %tt (Private)
      %form{:action =>"/#{list.slug}",:method=>:post}
        %input{:type=>:hidden, :name=>:_method, :value=>:delete}
        %input{:type=>:submit, :value=>'Delete'}
    %form{:action =>"/#{list.slug}",:method=>:post}
      %input{:type=>:hidden, :name=>:_method, :value=>:put}
      %table
        %tr
          %td Member
          %td
            Remove User
        - list.members.sort{|a,b|a.screen_name.downcase <=> b.screen_name.downcase}.each do |user|
          %tr
            %td= user.screen_name
            %td
              %input{:type=>:checkbox, :name=>"lists[#{list.slug}][remove_members][#{user.screen_name}]"}
      %div
        %p
          %b Add new list members(whitespace separated)
        %textarea{:name=>"lists[#{list.slug}][new_members]"}
      %input{:type=>:submit, :value=>'Update'}
%br
%form{:action =>'/new_list',:method=>:post}
  %h4 Or Create a New List
  %p
    %label Name
    %input{:type=>:text,:name=>'list[name]'}
  %p
    %label Private?
    %input{:type=>:checkbox,:name=>'list[protected]'}
  %textarea{:name=>"list[members]"}
  %input{:type=>:submit, :value=>'Create'}
